{
  "serverPort": "8266",
  "webUIPort": "8265",
  "serverIP": "{{ tdarr_server_ip }}",
  "handbrakePath": "",
  "ffmpegPath": "",
  "logLevel": "INFO",
  "mkvpropeditPath": "",
  "ccextractorPath": ""
}